.container {
  padding: 0 20px;
  margin: 0 auto;
  overflow: hidden;
  //   width: 100vw;

  @include min480 {
    width: 480px;
  }

  @include min768 {
    width: 720px;
    padding: 0 32px;
  }

  @include min1280 {
    width: 1280px;
    padding: 0 30px;
  }
}
