@import '~node_modules/modern-normalize/modern-normalize.css';
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 30px;
  }
}

.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  perspective: 800px;
  filter: blur(0.5px);
}
@media screen and (min-width: 480px) {
  .loader {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 768px) {
  .loader {
    width: 200px;
    height: 200px;
  }
}

.circle {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid green;
  border-radius: 50%;
  border-left: none;
  border-right: none;
}

.circ1 {
  -webkit-animation: circ1 1.5s -1s linear infinite;
          animation: circ1 1.5s -1s linear infinite;
  border-color: red;
}

.circ2 {
  -webkit-animation: circ2 1.5s -0.5s linear infinite;
          animation: circ2 1.5s -0.5s linear infinite;
  border-color: black;
}

.circ3 {
  -webkit-animation: circ3 1.5s linear infinite;
          animation: circ3 1.5s linear infinite;
  border-color: yellow;
}

@-webkit-keyframes circ1 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}

@keyframes circ1 {
  0% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@-webkit-keyframes circ2 {
  0% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(0);
  }
  100% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
}
@keyframes circ2 {
  0% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(0);
  }
  100% {
    transform: rotateX(60deg) rotateY(0deg) rotateZ(360deg);
  }
}
@-webkit-keyframes circ3 {
  0% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(360deg);
  }
}
@keyframes circ3 {
  0% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(0);
  }
  100% {
    transform: rotateX(-45deg) rotateY(45deg) rotateZ(360deg);
  }
}
.loader::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: blue;
  filter: blur(3px);
  border-radius: 50%;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  -webkit-animation: blur 1s linear infinite;
          animation: blur 1s linear infinite;
}
@media screen and (min-width: 480px) {
  .loader::before {
    width: 20px;
    height: 20px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }
}
@media screen and (min-width: 768px) {
  .loader::before {
    width: 30px;
    height: 30px;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
  }
}

@-webkit-keyframes blur {
  50% {
    box-shadow: 0 0 10px 10px blue;
  }
  100% {
    box-shadow: 0 0 10px 10px blue;
  }
}

@keyframes blur {
  50% {
    box-shadow: 0 0 10px 10px blue;
  }
  100% {
    box-shadow: 0 0 10px 10px blue;
  }
}
.footer {
  background-color: #f7f7f7;
}

@media screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.authors-list__description {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .authors-list__description {
    margin-bottom: 10px;
    padding-top: 30px;
  }
}
@media screen and (min-width: 768px) {
  .authors-list__description {
    margin-right: 3px;
  }
}

.authors-list__meta-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.authors-list__authors-description {
  display: block;
  position: relative;
  margin-right: 34px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .authors-list__authors-description {
    padding-bottom: 30;
  }
}

.authors-list__authors-description::after {
  content: "";
  position: absolute;
  top: 49%;
  left: 118.5%;
  transform: translate(-50%, -50%);
  background-image: url(../images/heart-icon.svg);
  background-repeat: no-repeat;
  width: 14px;
  height: 13px;
  background-size: contain;
}
@media screen and (max-width: 767px) {
  .authors-list__authors-description::after {
    top: 14%;
  }
}

.authors-list__authors-link {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #545454;
}
@media screen and (max-width: 767px) {
  .authors-list__authors-link {
    padding-bottom: 30;
  }
}
@media screen and (min-width: 768px) {
  .authors-list__authors-link {
    padding: 30 0;
  }
}

.authors-list__authors-link--underline {
  text-decoration: underline;
}

.gallery {
  padding-top: 20px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
  }
}

.movie-card__item {
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms linear;
}
@media screen and (max-width: 320px) {
  .movie-card__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .movie-card__item {
    margin: 15px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__item {
    flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}

.movie-card__item:hover,
.movie-card__item:focus {
  transform: scale(1.03);
}

.movie-card__image-container img {
  margin: 0 auto;
  border-radius: 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 320px) {
  .movie-card__image-container img {
    height: 402px;
  }
}
@media screen and (min-width: 768px) {
  .movie-card__image-container img {
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .movie-card__image-container img {
    height: 574px;
  }
}

.movie-card__title,
.movie-card__text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
}

.movie-card__title {
  text-transform: uppercase;
  color: #000000;
}

.movie-card__text {
  color: #ff6b08;
}

.movie-card__image-container {
  position: relative;
}

.movie-card__rating {
  position: absolute;
  top: 30;
  left: 15;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.17;
  color: #ffffff;
  background-color: #ff6b08;
  border-radius: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  overflow: auto;
  top: 50%;
  left: 50%;
  min-width: 280px;
  max-height: 97%;
  transform: translate(-50%, -50%);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #fff;
  border-radius: 4px;
}

.modal__btn--close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn--close:hover,
.modal__btn--close:focus {
  fill: #724b10;
}

.modal-card {
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.modal-card__img {
  width: 240px;
  height: 357px;
  margin-bottom: 20px;
  outline: 1px solid grey;
  border-radius: 5px;
}

.modal-card__title {
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.modal-card__info {
  margin-bottom: 8px;
}

.modal-card__info-name {
  padding-right: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #8c8c8c;
}

.modal-card__info-value {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

.modal-card__info-value--lh {
  line-height: 16px;
}

.vote-value {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  background-color: #ff6b08;
  border-radius: 5px;
}

.modal-card__desc {
  margin-top: 20px;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.modal-card__desc-text {
  overflow: auto;
  width: 240px;
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.modal__btn {
  display: flex;
  gap: 20px;
}

.card-uppertext {
  text-transform: uppercase;
}

.is-hidden {
  display: none;
}/*# sourceMappingURL=index.css.map */