$accentColor: #ff6b08;
$primaryTextColor: #000;
$textColorOnDark: #fff;
$textColorDark: #000;
$errorColor: #ff001b;
$footerBgColor: #f7f7f7;
$footerTextColor: #545454;
$btnHoverColor: #ff6b01;
$modalTextColor: #8c8c8c;

$font-size: 12px;
