//Sizes/breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

//colors
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-color: #ff6b08;
$errorColor: #ff001b;
$logo-color: #818181;
$bg-color: #ffffff;
$footer-bg-color: #f7f7f7;
$footerTextColor: #545454;
$modalDescColor: #8c8c8c;

// shadow
$card-shadow:6px 6px 15px rgba(0, 0, 0, 0.2);

// font
$primary-font: 'Roboto', sans-serif;

$cubic: cubic-bezier(0.465, 0.183, 0.153, 0.946);
$trans-time: 300ms;
