
//colors
$primary-text-color: #000000;
$secondary-text-color: #ffffff;
$accent-color: #ff6b08;
$errorColor: #ff001b;
$logo-color: #818181;
$bg-color: #ffffff;
$footer-bg-color:#F7F7F7;
$footerTextColor: #545454;
$modalDescColor: #8c8c8c;

// font
$primary-font: 'Roboto', sans-serif;

$cubic: cubic-bezier(0.465, 0.183, 0.153, 0.946);
$trans-time: 300ms;