.footer-backdrop {
  overflow-y: scroll;
  @media screen and (max-width: 599px) {
    padding: 95px 15px;
  }
}

.footer-modal {
  position: relative;
  padding: 24px;
  border-radius: 4px;
  max-height: 90%;
  max-width: 90%;
  height: 80%;
  width: 80%;
  min-height: 320px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  @media screen and (max-width: 479px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0%, 0%);
  }
  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 450px;
    padding: 40px;
    transform: translate(-50%, -50%);
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
  }
}
.footer-modal__button-close {
  color: black;
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
  background-color: $secondary-text-color;
  transition: fill 250ms $cubic, border-color 250ms $cubic;
  @media screen and (min-width: 480px) {
    top: 8px;
    right: 8px;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
