.footer-backdrop {
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.7);
  @media screen and (max-width: 599px) {
    padding: 70px 15px;
  }
  transition: opacity 500ms $cubic, visibility 500ms $cubic;
}

.footer-modal {
  position: relative;
  padding: 24px;
  overflow-y: scroll;
  border-radius: 15px;
  transform: translate(-50%, -50%), scale(1);
  transition: transform 300ms $cubic;
  background-color: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  &-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }
  @media screen and (max-width: 479px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    width: 260px;
    padding: 10px;
  }
  @media screen and (min-width: 480px) and (max-width: 600px) {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    padding: 10px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199) {
    width: 710px;
  }
  @media screen and (min-width: 1200px) {
    width: 1000px;
    height: 90%;
  }
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.3);
  }
}
.footer-modal__button-close {
  color: black;
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  margin-left: auto;
  cursor: pointer;
  background-color: $secondary-text-color;
  transition: fill 250ms $cubic, border-color 250ms $cubic;
  @media screen and (min-width: 480px) {
    top: 8px;
    right: 8px;
  }
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
