<form action="" class="form formSignUpJs">
  <h2 class="form__name">Sign Up</h2>
  <label for="" class="form__label">
    <p class="form__description">Email</p>
    <input
      type="email"
      name="email"
      class="form__input"
      placeholder="example@ex.com"
    />
  </label>
  <label for="" class="form__label">
    <p class="form__description">Password</p>
    <input
      type="password"
      name="password"
      class="form__input"
      placeholder="&#176;&#176;&#176;&#176;&#176;&#176;&#176;"
    />
  </label>
  <button type="subit" name="signUp" class="">Create Acccount</button>
  <button type="subit" name="signIn" class="">Login</button>
  <h3>Login with social:</h3>
  <button type="subit" name="google" class="">Google</button>
  <button type="subit" name="facebook" class="">Facebook</button>
  <button type="subit" name="gitHub" class="">GitHub</button>
</form>

<form action="" class="form formSignInJs">
  <h2 class="form__name">Sign Up</h2>
  <label for="" class="form__label">
    <p class="form__description">Email</p>
    <input
      type="email"
      name="email"
      class="form__input"
      placeholder="example@ex.com"
    />
  </label>
  <label for="" class="form__label">
    <p class="form__description">Password</p>
    <input
      type="password"
      name="password"
      class="form__input"
      placeholder="&#176;&#176;&#176;&#176;&#176;&#176;&#176;"
    />
  </label>
  <h3>Sign Up with social:</h3>
  <button type="subit" name="google" class="">Google</button>
  <button type="subit" name="facebook" class="">Facebook</button>
  <button type="subit" name="gitHub" class="">GitHub</button>
</form>
