<button type="button" class="openRegisterModalJs visually-hidden">
  Check In
</button>

<ul class="profileJs visually-hidden">
  <li>Account</li>
  <li class="logOutJs">Log Out</li>
  <li class="removeAccountJs">Delete Account</li>
</ul>

<form action="" class="form formSignJs visually-hidden">
  <h2 class="form__title visually-hidden hiddenSignUp">Sign Up</h2>
  <h2 class="form__title hiddenSignIn">Sign In</h2>

  <label for="" class="form__field">
    <span class="form__label">Email</span>
    <input
      type="email"
      class="form__input"
      name="email"
      placeholder="example@ex.com"
    />
  </label>

  <label for="" class="form__field">
    <span class="form__label">Password</span>
    <input
      type="password"
      class="form__input"
      name="email"
      placeholder="example@ex.com"
    />
  </label>

  <label class="form__field checkbox hiddenSignUp visually-hidden">
    <input
      class="checkbox__input"
      type="checkbox"
      name="topic"
      value="check-label"
    />
    <span class="checkbox__label"
      >Погоджуююся з розсилкою та приймаю
      <a class="checkbox__link" href="">Умови договору</a></span
    >
  </label>

  <button type="subit" name="signUp" class="hiddenSignUp visually-hidden">
    Create Acccount
  </button>
  <button type="subit" name="signIn" class="hiddenSignIn">Login</button>

  <h3>Login with:</h3>
  <button type="subit" name="google" class="">Google</button>

  <h3>Or</h3>
  <button type="submit" class="signUpJs hiddenSignIn">Sign Up</button>
  <button type="submit" class="visually-hidden signInJs hiddenSignUp">
    Sign In
  </button>
</form>
