<div class="backdrop film-backdrop is-hidden">
  <div class="modal">
    <button class="modal__btn--close">
      <svg width="30" height="30">
        <use href="./images/sprite-svg.svg#film-modal-btn"></use>
      </svg>
    </button>

    
   <div class="modal-container">
    <button class="btn-trailer" type="button" data-action="open-modal">
      YouTube
    </button>
    <div class="backdrop is-hidden js-backdrop">
      <div class="modal-trailer">
        <div class="trailer-box"></div>
      </div>
    </div>
    <div class="modal-card"></div>
    <div class="modal__btn color-button">
        <button type="button" class="modal__btn--watched">add to Watched</button>
        <button type="button" class="modal__btn--queue">add to queue</button>
    </div>
   </div>

  </div>
</div>



