
<div class="backdrop is-hidden ">
    <div class="modal">
       
        <button class="modal__btn--close">
            <svg  width="30" height="30">
                <use href="./images/sprite-svg.svg#film-modal-btn"></use>
            </svg>
        </button>


        <div class="modal-card">
            <div class="modal-card__img">
                <img src="https://pixabay.com/photos/cat-young-animal-kitten-gray-cat-2083492/" alt="film name" />
            </div>

            <div>
                <h2 class="modal-card__title  card-uppertext">Avatar</h2>
                <table modal-card__table>
                    <tbody  class="modal-card__info">
                        <tr>
                            <td class="modal-card__info-name">Vote / Votes</td>
                            <td class="modal-card__info-value  modal-card__info-value--mod"> <span class="vote-value">7.3</span> <span class="votes-value">1260</span> </td>
                        </tr>
                    </tbody>

                   
                    <tbody class="modal-card__info">
                        <tr>
                            <td class="modal-card__info-name">Popularity</td>
                            <td class="modal-card__info-value">100.2</td>
                        </tr>
                    </tbody>

                    <tbody class="modal-card__info">
                        <tr>
                            <td class="modal-card__info-name">Original Title</td>
                            <td class="modal-card__info-value  modal-card__info-value--lh">A FISTFUL OF LEAD</td>
                        </tr>
                    </tbody>

                    <tbody>
                        <tr>
                            <td class="modal-card__info-name">Genre</td>
                            <td class="modal-card__info-value modal-card__info-value--lh">Western</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="modal-card__desc card-uppertext">About</h3>
                <p class="modal-card__desc-text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita in
                    repudiandae dolorem veniam suscipit libero consectetur at mollitia et
                    ad. Nam culpa accusamus fugit magnam dolore soluta sapiente.
                    Necessitatibus, expedita?
                </p>
            </div>

            <div class="modal__btn">
                <button type="button" class="modal__btn--watched">add to Watched</button>
                <button type="button" class="modal__btn--queue">add to queue</button>
            </div>
        </div>
     
    </div>
</div>


