<div class="backdrop is-hidden footer-backdrop">
    <div class="footer-modal">
        
        <h1 class="footer-modal__title"></h1>
        
        <ul class="authors-list">
            <li class="authors-list__item">
                <div class="authors-list__item-thumb">
                  <div class="authors-list__overlay-thumb"
                    ><img src="./images/test.jpg" alt="">
                    <div class="authors-list__card-overlay">
                      <p class="authors-list__overlay-text"
                        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, incidunt!
                        Commodi facilis aut placeat voluptatem voluptate mollitia molestiae temporibus
                        enim qui minima, optio repellat asperiores maxime est ipsa odio fugit maiores
                        ex dolor eligendi nisi sint perspiciatis. Provident rerum ex facere accusamus
                        culpa veniam velit inventore recusandae nesciunt dolorem.
                      </p>
                    </div>
                  </div>
                  <div class="authors-list__meta-container">
                    <h3 class="authors-list__meta-container-title">Alan Black</h3>
                    <p class="authors-list__meta-container-responsibilities">Extreme Barber</p>
                    <ul class="authors-list__link-list">
                      <li class="authors-list__link-list-item">
                        <a href="#" class="authors-list__link">
                          <svg class="authors-list__link-icon" width="20" height="20">
                            <use href="./images/sprite-svg.svg#icon-github"></use>
                          </svg>
                        </a>
                      </li>
                      <li class="authors-list__link-list-item">
                        <a href="#" class="authors-list__link">
                          <svg class="authors-list__link-icon" width="20" height="20">
                            <use href="./images/sprite-svg.svg#icon-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>
        </ul>  
        <button  type="button" class="footer-modal__button-close">
            <svg width="18" height="18">
              <use href="./images/sprite-svg.svg#close-footer-modal"></use>
            </svg> 
    </div>
</div>
