<div class="backdrop is-hidden footer-backdrop">
    <div class="footer-modal">
        <button  type="button" class="footer-modal__button-close">
            <svg width="18" height="18">
              <use href="./images/sprite-svg.svg#close-footer-modal"></use>
            </svg>
        <h1 class="footer-modal__title"></h1>
        <ul class="authors-list">
            <li class="authors-list__item">
            <h2 class="authors-list__author-name"></h2>
            <p class="authors-list__author-responsibilities"></p>
            <a class="authors-list__author-git-link" href="#"></a>
            </li>
        </ul>   
    </div>
</div>
