<header>
  <div class="container header-bg">
    <div class="navigation">
      <div class="wrapper-logo animate__animated animate__flipInY">
        <a href="./" class="navigation_logo logo" id="navigation-logo">
          <svg class="logo-icon" width="24px" heigth="24px">
            <use href="./images/sprite-svg.svg#film-icon"></use>
          </svg>
          <h1 class="page-title">Filmoteka</h1>
        </a>
      </div>

      <ul class="navigation_list">
        <li class="navigation_list-item">
          <a href="./" class="navigation_list-item-link home">HOME</a>
        </li>
        <li class="navigation_list-item navigation_list-item-link library-js" style="cursor: pointer">
          MY LIBRARY
        </li>
      </ul>

    
   
  </div><div class="header_form">
      <div class="header-lib__menu">
        <ul class="btn-watched-queue lib__btns hide">
          <li class="header-btn-watched">
            <button class="js-btnWatched is-active">Watched</button>
          </li>
          <li class="header-btn-queue">
            <button class="js-btnQueue is-active">Queue</button>
          </li>
        </ul>
        <form class="header-form__search" autocomplete="off">
          <input
            class="header-form__input"
            type="text"
            name="search"
            placeholder="Search film..."
          />
          <button class="header-form__btn" type="submit" aria-label="Search">
            <svg class="header-form__icon" width="12" height="12">
              <use href="./images/sprite-svg.svg#icon-search-2"></use>
            </svg>
          </button>
        </form>
        <div class="autorization">
          <button
            type="button"
            class="header-movie_button checkIn openRegisterModalJs hide"
          >
            Check In
          </button>

          <ul class="profile_menu hide">
            <div class="profile_menu_div"><li class="profile">Account</li>
            <li>
              <button type="button" class="profile_menu-child logOutJs btn-exit">
                <a href="./" class=" home">Log Out</a>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="profile_menu-child removeAccountJs btn-delete"
              >
                <a href="./" class=" home"
                  >Delete Account</a
                >
              </button>
            </li>
          </ul>
        </div>
        </div>
      </div>
      </div>
    </div>
</header>
