.form {
  padding: 21px 23px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;

  transform: translate(-50%, -50%);
  transition-property: opacity, visibility;
  background-color: gray;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  @media screen and(min-width: 320px) {
    width: 320px;
  }
  @media screen and(min-width: 480px) {
    width: 400px;
  }
  @media screen and(min-width: 768px) {
    width: 450px;
  }
  // @media screen and(min-width: 1280px) {
  //   width: 550px;
  //   height: 600px;
  // }
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: black;
}
.backdrop_form {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0003;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}
.close__sign-in {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: gray;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;

  &:hover,
  &:focus {
    fill: #ff6b08;
  }
}
.form__title {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.form__input {
  width: 100%;
  padding: 15px 0px 15px 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #ff6b08;
  background-color: gray;
}
.form__input:hover,
.form__input:focus {
  border: 2px solid rgb(39, 9, 205);
}
.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  user-select: none;
}
.form__label {
  margin-bottom: 8px;
}
.checkbox__link {
  color: #ff6b08;
  text-decoration: underline;
  cursor: pointer;
}
.checkbox {
  flex-direction: row;
  gap: 4px;
}
.login__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 15px;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: #ff6b08;
  cursor: pointer;

  &:hover {
    color: aliceblue;
    background-color: #ff6b0862;
  }
}
.choice__login {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.entry-btn {
  cursor: pointer;
}
.google__auth {
  width: 200px;
  height: 45px;
  border-color: blue;
  display: flex;
  margin: auto;
  border-radius: 10px;
  align-items: center;
  outline: #ff6b08;
  justify-content: center;
  cursor: pointer;
  background-color: gray;
  margin-bottom: 15px;

  &:hover {
    color: #fff;
    background-color: blue;
  }
}
.create-acc__btn {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: #ff6b08;
  border: none;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  margin: auto auto 15px;
  display: flex;

  &:hover {
    color: #fff;
  }
}

.sign__up,
.sign__in {
  width: 100px;
  height: 50px;
  cursor: pointer;
  background-color: #ff6b08;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin: auto auto;
  display: flex;

  &:hover {
    color: #fff;
    background-color: #ff6b0862;
  }
}
