%color-button {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  width: 152;
  height: 44;
  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;
  background-color: $accent-color;
  border-radius: 5px;
  padding: 12px 41px;
  border: 1px solid $accent-color;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  transition: transform 250ms ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.button-text {
  width: 65px;
}

%transparent-button {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  width: 152;
  height: 44;
  text-align: center;
  text-transform: uppercase;
  color: tomato;
  background-color: transparent;
  border-radius: 5px;
  padding: 12px 41px;
  border: 1px solid tomato;
  transition: transform 250ms ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

%color-Modal-Button {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  text-align: center;
  text-transform: uppercase;
  color: $secondary-text-color;
  background-color: $accent-color;
  border-radius: 5px;
  padding: 13px 10px;
  border: 1px solid $accent-color;
  filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
  transition: transform 250ms ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

%transparent_Modal_Button {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;

  text-align: center;
  text-transform: uppercase;
  color: $primary-text-color;
  background-color: transparent;
  border-radius: 5px;
  padding: 13px 10px;
  border: 1px solid $primary-text-color;
  transition: transform 250ms ease;
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}
