#scrollTop {
  position: fixed;
  bottom: 150px;
  right: 70px;
  font-size: 50px;
  z-index: 9999;
  color: red;
  cursor: pointer;
}
.isShownBtn {
  opacity: 1;
  transition: 0.5s;
  &_hide {
    opacity: 0;
  }
}
.fa-circle-arrow-up::before {
  bottom: 0;
  border-radius: 50% 50% 00;
}
.fa-circle-arrow-up:hover {
  transition: 0.5s;
  transform: scale(0.9);
  color: black;
}
