@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

.slider-wrapper {
  background-color: rgb(247, 247, 247);
  padding-bottom: 20px;
  font-size: 13px;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

.glide__arrow {
  background-color: $accent-color;
}

.slider-card {
  margin-right: 8px;
}

.slider-image {
  border-radius: 5px;
}

.rating-slider {
  position: absolute;
  bottom: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 18px;
  font-family: $primary-font;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.1;
  color: $secondary-text-color;
  background-color: $accent-color;
  border-radius: 5px;
}

// styles for trailler
